@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-border-image {
  border: 2px solid #000;
  border-image-source: linear-gradient(129.59deg, #969696 0%, #343434 98.18%);
  border-image-slice: 1;
  border-radius: 8px !important;
}
